.container {
  max-width: 400px;
}
.tab-content {
  border: 1px solid #dee2e6;
  border-top: 0;
  padding: 15px;
}
.form-group {
  margin-bottom: 15px;
}
.password-requirements {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
}
.password-requirement {
  display: flex;
  align-items: center;
  width: 50%; /* Cada requisito ocupa el 50% del ancho */
  margin-bottom: 5px;
}
.circle {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 5px;
}
.red-circle {
  background-color: red;
}
.green-circle {
  background-color: green;
}